@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .header-video {
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .header-video::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(
        rgba(18, 18, 18, 0) 10vw,
        rgb(18, 18, 18) 46.875vw
      ),
      linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(0, 0, 0, 0) 50%);
    opacity: 0.8;
    bottom: 0;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .active {
    @apply text-[#6eb8ff];
  }

  .footer-menu {
    color: white;
    border-top: 1px solid rgb(55, 56, 62);
  }

  .namava-logo {
    background: linear-gradient(
      to bottom,
      rgba(25, 147, 255, 1),
      rgba(0, 95, 180, 1)
    );
    text-align: center;
    border-radius: 8px;
  }

  .movie-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  }

  .radio-input {
    width: 15px;
    height: 15px;
    appearance: none;
    border: 1px solid white;
    border-radius: 100%;
  }

  .radio-input:checked {
    background-color: #1993ff;
    border: 1px solid #1993ff;
    padding: 5px;
  }

  .title-image {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
    min-height: 100%;
    object-fit: cover;
  }

  .circle {
    @apply h-0.5  w-[150px] relative;
  }

  .circle-item {
    @apply md:cursor-pointer w-[20px] h-[20px] flex-center  rounded-full absolute -translate-y-1/2 right-0;
  }

  .active {
    @apply visible opacity-100;
  }

  .bookmarkItem {
    @apply py-2 px-3 rounded-md md:cursor-pointer;
  }

  .bookmark--active {
    @apply bg-white text-black;
  }

  .action-btn {
    @apply flex-center p-2.5  bg-gray-500/35  rounded-full text-[13px];
  }
}

.swiper-button-next::after {
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.7s ease !important;
  padding: 500px 20px !important;
}

.swiper-button-prev::after {
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease !important;
  padding: 500px 20px !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
  visibility: hidden !important;
}

.video-player {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
  min-height: 100%;
  object-fit: cover;
}
@layer base {
  @font-face {
    font-family: "Iran";
    src: url("/fonts/IRANSans/IRANSans.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IranMedium";
    src: url("/fonts/IRANSans/IRANSans_Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana";
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
    font-display: swap;
  }
}

@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px !important;
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  .swiper:hover .swiper-button-next::after,
  .swiper:hover .swiper-button-prev::after {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

@media (max-width: 576px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    opacity: 0;
    visibility: hidden;
  }
}

.film-checkbox,
.series-checkbox {
  width: 15px;
  height: 15px;
  appearance: none;
  border: 1px solid white;
  border-radius: 3px;
}
.film-checkbox:checked,
.series-checkbox:checked {
  background-color: #1993ff !important;
  border: 1px solid #1993ff !important;
}

.submenu {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.submenu-container::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.1vw !important;
}
.submenu-container::-webkit-scrollbar-thumb {
  background-color: #6a6a6e;
  border-radius: 5px;
  height: 0.1vw !important;
}
.submenu-container::-webkit-scrollbar-track {
  /* background-color: #ffffff; */
  height: 0.1vw !important;
}

.movie-perview::before {
  position: absolute;
  content: "";
  z-index: 4;
  width: 75%;
  left: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to left, #1a1a1a, rgba(26, 26, 26, 0)),
    linear-gradient(0deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
}

.rigth-side {
  background-image: linear-gradient(90deg, #1a1a1a, #121212),
    linear-gradient(90deg, #1a1a1a 0%, #1a1a1a00 100%);
}

.loading-container {
  animation: loading 0.2s;
}

.navbar-container {
  background-image: linear-gradient(
    to bottom,
    rgba(18, 18, 18, 1),
    rgba(18, 18, 18, 0)
  ) !important;
}

.three {
  background: linear-gradient(rgb(183, 211, 130) 0%, rgb(115, 145, 58) 100%);
  width: 43px;
  height: 30px;
}
.seven {
  background: linear-gradient(rgb(242, 242, 242) 0%, rgb(170, 170, 170) 100%);
  width: 43px;
  height: 30px;
}
.twelve {
  background: linear-gradient(rgb(255, 213, 76) 0%, rgb(222, 171, 0) 100%);
  width: 43px;
  height: 30px;
}
.fifteen {
  background: linear-gradient(rgb(244, 168, 134) 0%, rgb(186, 102, 64) 100%);
  width: 43px;
  height: 30px;
}
.eighteen {
  background: linear-gradient(rgb(228, 140, 140) 0%, rgb(171, 72, 72) 100%);
  width: 43px;
  height: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1993ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1993ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* kid custom style */

.anim-collection {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
}

.profile-container {
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.16);
}

/* start kid page custom styles */

.kid-title {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6)
  );
}

/* start about page custom */

.live-section {
  width: 100%;
  height: 484px;
  background-size: cover;
  background-image: url("../../public/images/stadium.jpg");
  background-position: center;
  margin-top: 80px;
}

@layer components {
  .nav-item {
    @apply text-sm md:text-base flex items-center gap-x-3 px-4 py-[0.6rem] rounded-md group-hover:bg-zinc-700  text-gray-300 transition-all;
  }

  .nav-item.active {
    @apply bg-zinc-700 text-gray-300;
  }

  .nav-item.active .icon-item {
    @apply text-namava;
  }

  .icon-item {
    @apply text-[#9ca3af] text-2xl group-hover:text-namava;
  }

  .show-hover {
    @apply opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all;
  }

  .session-overlay {
    background-image: linear-gradient(
      -90deg,
      rgb(34, 35, 39) 0%,
      rgba(34, 35, 39, 0) 100%
    );
  }
}

.recharts-legend-item-text {
  margin-right: 10px;
}

.recharts-surface {
  direction: ltr !important;
}

.recent-table td {
  text-align: center;
}

.recent-table tbody td {
  padding: 15px 0;
}

.table-container::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.1vw !important;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #6a6a6e;
  border-radius: 5px;
  height: 0.1vw !important;
}
.table-container::-webkit-scrollbar-track {
  /* background-color: #ffffff; */
  height: 0.1vw !important;
}

.duration-chart .recharts-responsive-container {
  @apply !h-[366px] md:!h-[250px];
}

.duration-chart .recharts-wrapper {
  @apply !min-h-[360px] md:!min-h-[250px];
}

/* key frames */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* admin panel */

.users-list table thead th {
  padding: 15px;
}
.users-list table tbody td {
  padding: 20px;
}

.table-container {
  overflow-x: auto !important;
}

.table-container::-webkit-scrollbar {
  height: 10px !important;
}
table {
  width: 100% !important;
  white-space: nowrap !important;
}
